/* regular-clients */

.clients {
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
      margin-bottom: 0px;
    }
  }

  @media (max-width: 767px) {
    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    &__item:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }

  &__link {
    fill: $cliennts-light-gray-color;
    border: 1px solid #afb1b8;

    box-sizing: border-box;

    border-radius: 4px;
    width: 100%;
    height: 90px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition-time $time-distribution-function;
  }

  &__link:hover,
  &__link:focus {
    fill: $accent-blue-color;
    border: 1px solid $accent-blue-color;
  }
}
