/* features*/

.features {
  padding-top: 94px;

  &__items {
    display: flex;
  }

  &__item {
    width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background-color: $background-team-color;
  }

  &__icon {
    margin: 25px 100px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $text-title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
