/* hero */

.hero {
  padding-top: 200px;
  // max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: $background-hero-color;
  background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $hero-box-shadow-color;

  text-align: center;

  @media screen and (max-width: 1200px) {
    padding-top: 118px;
    height: 400px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-size: 26px;
      line-height: 1.62;
    }
  }
}
