/* our-team */

.our-team {
  background-color: $background-team-color;

  &__title {
    padding-top: 94px;
  }

  &__items {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4p;
    background-color: $white-color;
  }

  &__photo {
    margin-bottom: 30px;
  }

  &__name {
    color: $text-title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 10px;
  }

  &__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 30px;
  }

  &__socials-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
