/* our-works */

/* В секции Чем мы занимаемся текст
 спозиционирован поверх изображения */

.our-works {
  padding-top: 0px;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: inline;
  }
  &__items {
    position: relative;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 370px;
    height: 70px;

    background-color: $overlay-section-work-color;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin: 0;
  }
}
