/* ...........Button........... */

.button,
.button-subscription,
.button-modal,
.button-submit {
  // display: inline-block;

  min-width: 200px;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $accent-blue-color;
  box-shadow: 0px 4px 4px $button-box-shadow-color;
  border-radius: 4px;
  color: $white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  transition: $transition-time $time-distribution-function,
    background-color $transition-time $time-distribution-function;
}

.hero__button {
  padding-right: 32px;
  padding-left: 32px;
}

.modal__button-submit {
  padding-right: 55px;
  padding-left: 56px;
  transform: translateX(50%);

  @media screen and (max-width: 479px) {
    transform: translateX(calc(100% / 4));
  }
}
/* button-subscription */

.subscription__button-subscription {
  padding-right: 28px;
  padding-left: 29px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    transform: translateX(60%);
  }

  @media screen and (min-width: 1200px) {
    transform: translateX(0%);
  }
}

.button-subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}
// .button-subscription {
//   padding-right: 28px;
//   padding-left: 29px;
// }

.button:hover,
.button:focus,
.button-subscription:hover,
.button-subscription:focus,
.button-modal:hover,
.button-modal:focus,
.button-submit:hover,
.button-submit:focus {
  background-color: $background-team-color;
  color: $text-title-color;
  cursor: pointer;
}

.button-close {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 6px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  fill: $modal-vector-close-black-color;
  background-color: $white-color;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  transition: $transition-time $time-distribution-function;
}

.button-close:hover,
.button-close:focus {
  fill: $accent-blue-color;
  cursor: pointer;
}

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }
