/* ......logo...... */

.logo {
  /* display: flex; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  &__web {
    color: $accent-blue-color;
  }

  &__studio {
    color: $text-black-color;
  }

  &__studio--white {
    color: $white-color;
  }
}
.page-footer__logo {
  margin-bottom: 20px;
}
.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
