body {
  background-color: $white-color;
  color: $text-gray-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
// address {
//   color: inherit;
//   font-style: normal;
// }
// html {
//   box-sizing: border-box;
// }
