/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-footer-color;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $hero-box-shadow-color;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1199px) {
      flex-wrap: nowrap;
    }
  }

  &__info {
    width: 100%;

    @media screen and (min-width: 768px) {
      margin-left: 76px;
      margin-right: 165px;
      width: 232px;
    }

    @media screen and (max-width: 1200px) {
      text-align: center;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0px;
      margin-right: 70px;
      width: 232px;
    }

    outline: 1px solid red;
  }
}
