/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-footer-color;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $hero-box-shadow-color;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
    }
  }

  &__info {
    @media screen and (max-width: 1199px) {
      width: 100%;
      text-align: center;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      width: 230px;
      // margin-right: 70px;
    }

    outline: 1px solid red;
  }
}
