/* socials-footer */
.socials-footer {
  margin-left: 70px;
  width: 206px;
  height: 80px;
  /* outline: 1px solid red; */

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;

    margin-top: 0px;
    margin-bottom: 20px;
  }
}
