$white-color: #ffffff;
$text-gray-color: #757575;
$text-title-color: #212121;
$text-black-color: #000000;

$accent-blue-color: #2196f3;
$cliennts-light-gray-color: #afb1b8;
$border-header-color: #ececec;
$modal-vector-close-black-color: #000000;

$background-modal-color-overlay: rgba(0, 0, 0, 0.2);
$background-product-thumb-color: rgba(33, 150, 243, 0.9);
$background-hero-color: #c4c4c4;
$background-footer-color: #2f303a;
$background-team-color: #f5f4fa;

$hero-overlay-color: rgba(47, 48, 58, 0.4);
$overlay-section-work-color: rgba(47, 48, 58, 0.8);
$form-input-border-solid-color: rgba(255, 255, 255, 0.3);
$button-box-shadow-color: rgba(0, 0, 0, 0.15);
$hero-box-shadow-color: rgba(0, 0, 0, 0.25);
$link-footer: rgba(255, 255, 255, 0.6);
$form-visually-hidden-placeholder-color: rgba(255, 255, 255, 0.6);

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
